<div class="container p-5">
  <table class="table table-hover table-bordered table-striped" *ngIf="customers">
    <thead class="bg-secondary">
    <tr>
      <th class="text-center">ID</th> <th class="text-center">Name</th> <th class="text-center">email</th> <th class="text-center">Orders</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customers._embedded.customers">
      <td>{{c.id}}</td>
      <td>{{c.name}}</td>
      <td>{{c.email}}</td>
      <td class="text-center"><button class="btn btn-success" (click)="getOders(c)">orders</button></td>
    </tr>
    </tbody>
  </table>
</div>
